<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.pfc.pfc523">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--<activity android:name=".activitys.fyh.DataAnalysisActivity"></activity>-->
        <activity android:name=".activitys.ConfirmActivity" />
        <activity android:name=".activitys.StationSelectActivity" />
        <activity android:name=".activitys.SelectDateActivity" />
        <activity android:name=".activitys.ShuttleInfoActivity" />
        <activity android:name=".activitys.MyFeedActivity" />
        <activity android:name=".activitys.FeedBackActivity" />
        <activity android:name=".activitys.RoadQuery2Activity" />
        <activity android:name=".activitys.fyh.TravelManageActivity" />
        <activity android:name=".activitys.fyh.EnvironmentIndex.SettingYuZhiActivity" />
        <activity android:name=".activitys.fyh.DataAnalysisActivity" />
        <activity android:name=".activitys.RoadQueryActivity" />
        <activity android:name=".activitys.fyh.EnvironmentIndex.EnvironmentIndexActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activitys.MyAccountActivity" />
        <activity android:name=".activitys.fyh.EnvironmentIndex.EnvironmentIndexActivity" />
        <activity android:name=".activitys.fyh.EnvironmentIndex.ENDrawingVieaPagerActivity" />
        <activity android:name=".activitys.MyAccountActivity" />
        <activity android:name=".activitys.ZDGLActivity" />
        <activity android:name=".activitys.fyh.BusQueryActivity" />
        <activity android:name=".activitys.Light2Activity" />
        <activity android:name=".activitys.CarWzActivity" />
        <activity android:name=".activitys.CustomShuttleActivity" />
        <activity android:name=".activitys.Dialog4Activity" />
        <activity android:name=".activitys.Dialog42Activity" />
        <activity android:name=".activitys.T27Activity" />
        <activity android:name=".activitys.T33Activity" />
        <activity android:name=".activitys.T35Activity" />
        <activity android:name=".activitys.T35_2Activity" />
        <activity android:name=".activitys.T27Activity"></activity>
        <activity android:name=".activitys.T33Activity"></activity>
        <activity android:name=".activitys.T35Activity"></activity>
        <activity android:name=".activitys.T35_2Activity"></activity>
        <activity android:name=".activitys.T60Activity"></activity>
        <activity android:name=".activitys.T63Activity"/>
        <activity android:name=".activitys.T63InForActivity"/>
        <activity android:name=".activitys.T63CarActivity"/>
        <service android:name=".services.InternetServices"/>
        <activity android:name=".activitys.T63PayActivity"/>
    </application>

</manifest>